* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
}

.container {
  max-width: 120rem;
  margin-top: 0;
  min-height: 100vh;
  background-color: #f1f1f1;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
