* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 120rem;
  margin-top: 0;
  margin: 2rem auto;
  min-height: 100vh;
  background-color: #f1f1f1;
}
