* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin-top: 0;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content__heading {
  position: absolute;
  background-color: #f8e031;
  margin: 15rem;
  font-size: 3rem;
  letter-spacing: 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: -1px 12px 13px 2px rgba(0, 0, 0, 0.75);
}

.header-content__bio {
  margin-top: 22rem;
  color: #f1f1f1;
  font-size: 1.5rem;
  text-align: justify;
}

.heading-content__bio--span {
  color: #2a2a2a;
  background-color: #fbef94;
  letter-spacing: 2px;
  font-weight: 500;
}

.section-albums {
  margin-left: 10rem;
  margin-top: 2rem;
}

.section-albums::after {
  content: "";
  clear: both;
  display: table;
}

.section-albums__heading {
  font-size: 3rem;
  padding: 2.5rem;
  color: #2a2a2a;
  text-decoration: underline;
}

.section-albums__covers img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-right: 1rem;
}

.section-albums__covers p {
  font-size: 1.5rem;
  margin-right: 3rem;
}

.section-albums__covers {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 45%;
  margin: 2rem auto;
  display: flex;
}
